/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400;500;700&family=Bebas+Neue&family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* VARIABLES */
:root {
    --primary-color: #5762d5;
    --dark: #32292F;
    --light: #F1F2EB;
    --mid-color: #575364;
    --title-text: 'Bebas Neue';
    --body-text: 'Alexandria';
    --highlight-text: 'Dosis';
}

/* RESET */
• {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

/* HEADER & NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 10vh;
    margin: 0 auto;
    align-items: center;
}

#navbar {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    min-width: 50vw;
    justify-content: space-between;
}

#logo {
    margin: 0;
    max-width: 80px;
}

#navbar li {
    display: inline-block;
    color: var(--primary-color);
}

#navbar a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--title-text);
    font-size: 2.1rem;
    color: var(--primary-color);
    padding: 0 10px;
}

#navbar a:hover {
    background-color: var(--primary-color);
    color: var(--light);
}

/* HERO / INTRO */
#intro {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    font-family: var(--highlight-text);
}

#intro-content {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    margin-left: 120px;
}

h1 {
    margin-bottom: -15px;
    font-size: 3rem;
    color: var(--primary-color);
}

.standout {
    background-color: var(--primary-color);
    color: var(--light);
    padding: 0 10px;
}

#subtitle {
    font-size: 2rem;
}

#hero {
    width: 50vw;
    display: flex;

}

#hero img {
    width: 40vw;
    object-fit: contain;
    /* object-position: 50% 50%; */
}

/* ABOUT ME */
h2 {
  padding: 5px 15px 2px;
  text-align: right;
  font-family: var(--title-text);
  font-size: 3rem;
  background-color: var(--light);
  color: var(--primary-color);

}
#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
    background-color: var(--primary-color);
    color: var(--light);
}

.about-content {
    margin: 20px;
    width: 70%;
    display: flex;
    align-items: center;
}

.about-content img {
    max-height: 200px;
    max-width: 200px;
    margin-right: 40px;
}

p {
    font-family: var(--body-text);
    text-align: center;
}

/* WORK / PORTFOLIO */
#work {
  max-width: 100vw;
  margin: 0 auto;
}

.gallery {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: repeat(3, 300px); */
  grid-gap: 10px;
}

.project-item {
  border: 10px var(--primary-color) solid;
  margin: 0;
  overflow: hidden;
  /* background-color: var(--primary-color); */
}

.project-img {
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

figcaption {
  margin: -20px 0px;
}

h3 {
  font-family: var(--highlight-text);
  color: var(--primary-color);
  font-size: 1.4rem;
  text-align: right;
  text-transform: uppercase;
  /* z-index: 1; */
  padding-right: 10px;

}

/* CONTACT */
#contact {
    background-color: var(--primary-color);
    display: flex;
    padding: 20px 0;
}

/* FOOTER */


/* MEDIA QUERIES */

/* @media (max-width: 300px) {
  #navbar {
    max-width:300px;
  }
} */

@media (max-width: 500px) {
  /* h1 {
    font-size: 1.2rem;
  }

  #intro-text {
    margin: 0 auto;
  }
  #subtitle {
    font-size: 1.3rem;
  } */
  .gallery {
    max-width: 350px;
    grid-template-columns: 250px;
    display: block;
  }
  .project-item {
    margin-bottom: 10px;
  }

  #contact {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
    #logo {
        display: none;
    }
    #navbar {
        width: 90vw;
        margin-left: 3vw;
    }
    #intro {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #intro-content {
        text-align: center;
        margin-left: 0px;
    }

    h1 {
        font-size: 2.4rem;
    }

    #subtitle {
        font-size: 1.7rem;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery {
      max-width: 600px;
      grid-template-columns: auto auto;
    }
}

@media (max-width: 1000px) {
  .gallery {
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, 300px);
  }
}
